@tailwind base;
@tailwind components;
@tailwind utilities;

.nav-link {
    @apply text-base md:text-sm hover:text-orange-500 hover:decoration-orange-500 hover:underline decoration-2 underline-offset-8 transition duration-300;
}


/* button */
.btn-purple-to-pink {
    @apply relative inline-flex items-center justify-center p-0.5 mb-2 mr-2 overflow-hidden text-lg font-medium text-gray-900 rounded-full bg-gradient-to-br from-purple-500 to-pink-500 group-hover:from-purple-500 group-hover:to-pink-500 hover:text-white dark:text-white focus:ring-4 focus:outline-none focus:ring-purple-200 dark:focus:ring-purple-800;
}
.btn-purple-to-pink-span {
    @apply relative px-5 py-1.5 transition-all ease-in duration-75 bg-gray-50 dark:bg-gray-800 rounded-full group-hover:bg-opacity-0;
}


/* active link */
.active {
    @apply text-orange-500;
}


/* seervice section */
.services-card {
    @apply relative bg-gray-50 dark:bg-gray-800 text-center px-4 pb-2 w-11/12 mx-auto sm:w-full hover:ring-1 hover:scale-105 hover:ring-orange-500/30 dark:hover:ring-orange-500/30 rounded-t-full cursor-pointer transition-all duration-300;
}

.card-shadow {
    @apply absolute w-full h-8 bg-orange-500/30 -bottom-3 left-0 right-0 my-0 mx-auto blur-xl overflow-hidden -z-10;
}


/* pricing section */
.card {
    perspective: 1000px;
}

.front,
.back {
    backface-visibility: hidden;
    transition: all 0.4s ease;
}

.front {
    overflow: hidden;
}


/* contact section */
.form-input {
    @apply text-gray-800 dark:text-gray-50 bg-transparent ring-1 border border-gray-50 dark:border-gray-800 text-sm rounded-sm block p-3 focus:outline-none focus:bg-blue-500/10 caret-orange-500 placeholder:text-gray-400;
}


/* scroll up button*/
.show-scroll{
    @apply bottom-12;
}
